.owner{
    width: 200px;
    border-radius: 10px ;
    border-bottom: 3px solid black:
}
div{
    background-color: gray;
}
p{
    color: whitesmoke;
}
.gif{
    max-width: 400px;
}
.btn {
    background-color: #c61ef4;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }
  .navbar-brand{
    background-color: #c61ef4;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
   
  }